@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.top__bttn {
    width: 100%;
    background-color: #000;
}

.top__bttn-text {
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    display: block;
    max-width: 370px;
    font-weight: 400;
    line-height: 1em;
    padding: 12px 0 12px 0;
    position: relative;
}

.top__bttn-text::before {
    content: "";
    background-image: url(./imgs/🇺🇦.svg);
    background-size: 100% 100%;
    display: block;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0 auto -20px;
    position: absolute;
}

header {
    width: 100%;
    margin-top: 20px;
}

header::after {
    content: '';
    background-color: #F2F2F2;
    height: 2px;
    display: block;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    position: relative;
}

.header__buttons {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    max-height: 54px;
    max-width: 107px;
}

.language {
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    position: relative;
}

.language::before {
    content: "";
    background-image: url(./imgs/world-map.svg);
    background-size: 100% 100%;
    display: block;
    width: 16px;
    height: 16px;
    max-height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0 auto -20px;
}

.language::after {
    content: "";
    background-image: url(./imgs/vector-arrow.svg);
    background-size: 100% 100%;
    display: block;
    width: 11px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0 auto 25px;
}

.collection__button {
    width: 100%;
    max-width: 215px;
    max-height: 40px;
    border-radius: 100px;
    background-color: #4095DA;
    margin-left: 15px;
}

.collection__button:hover {
    background-color: #000;
    transition: 0.3s linear;
}

.collection__button-link {
    width: 100%;
}

.collection__button-text {
    padding: 10px 20px 10px 40px;
    text-align: center;
    color: #fff;
    position: relative;
}

.collection__button-text::before {
    content: "";
    background-image: url(./imgs/plus-icon.svg);
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0 15px 20px;
}

.notifications {
    width: 16px;
    height: 18px;
}

.notification {
    width: 16px;
    height: 18px;
    fill: #757575;
    cursor: pointer;
}

.notification:hover {
    fill: #4095DA;
}

.sing-in__button-link {
    color: #4095DA;
}

.sing-in__button-link:hover {
    color: #000;
    text-decoration: underline;
    transition: 0.5s ease;
}

.sing-in__button-text {
    font-size: 15px;
    font-weight: 400;
}

.breadcrumb {
    list-style: none;
    background-color: #fff;
    margin-top: 100px;
}


/* Display list items side by side */

.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-weight: 400;
}


/* Add a slash symbol (/) before/behind each list item */

.breadcrumb li+li:before {
    padding: 15px;
    color: #757575;
    content: ">";
}


/* Add a color to all links inside the list */

.breadcrumb li a {
    text-decoration: none;
    color: #757575;
}

.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-weight: 400;
}


/* Add a color on mouse-over */

.breadcrumb li a:hover {
    color: #4095DA;
    text-decoration: underline;
    transition: 0.3s ease;
}

footer {
    width: 100%;
}

.footer-title {
    text-align: center;
    padding: 50px 0 30px 0;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-down {
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.4s ease;
}

.arrow-down.active {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.profile__container {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__window {
    position: absolute;
    width: 100%;
    max-width: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -800px;
    opacity: 0;
    z-index: 10;
    right: 1.4%;
    transition: 0.4s linear;
    background-color: #fff;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
}

.profile__window.active {
    top: 90px;
    opacity: 100%;
}

.avatar-window {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.nickname-profile {
    margin: 20px 0 30px 0;
}

.contact {
    margin-bottom: 30px;
}

.profile-bttn {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: #EDF5FC;
    border-radius: 100px;
    color: #4095DA;
    font-size: 15px;
    font-weight: 500;
}

.details {
    margin-bottom: 20px;
}

.logout {
    margin-bottom: 30px;
    color: #4095DA;
    font-size: 15px;
    font-weight: 500;
}

.description {
    padding-bottom: 32px;
    font-size: 12px;
    font-weight: 400;
}

.container__wrapper {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.hero__container {
    margin-top: 30px;
}

.hero__container__item {
    margin-top: 40px;
}

.hero__container-title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.hero__container-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
}

.hero__container__steps {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.step-icon {
    display: block;
    fill: #F2F2F2;
    position: relative;
}

.icon-first {
    fill: #EDF5FC;
}

.step-icon__wrapper {
    width: 30px;
    height: 30px;
    position: relative;
}

.number {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: 9px;
    left: 11px;
    right: 0;
    bottom: 0;
}

.one {
    color: #4095DA;
}

.step__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.step-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
}

.first {
    color: #02020B;
}

.building__type {
    margin-top: 45px;
}

.building__type-title {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #02020B;
}

.title-red {
    color: #E43F12;
}

.building__type__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon-info__container {
    display: block;
    max-width: 20px;
    max-height: 20px;
    position: relative;
}

.icon-info {
    cursor: pointer;
}

.icon-info:hover {
    fill: #757575;
}

.info__tip {
    position: absolute;
    top: 290px;
    left: 573px;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 149px;
    background-image: url(./imgs/Union.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.paragraph {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.second {
    padding-bottom: 20px;
}

.paragraph h4 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.paragraph p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.radio__bttns {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.form_radio {
    display: flex;
    border: 2px solid #4095DA;
    border-radius: 100px;
    align-items: center;
    gap: 10px;
}

.radio-bttn {
    width: 22px;
    height: 22px;
    margin: 0;
    margin-left: 10px;
}

.radio-text {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.title__container {
    margin-top: 45px;
}

.title__container-title {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #02020B;
}

.textarea {
    border-radius: 100px;
    border: 2px #F2F2F2 solid;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}

.text-description {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    margin-left: 5px;
}

.description__container {
    margin-top: 30px;
}

.description__container-title {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
}

.description-textarea {
    margin-left: 15px;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    padding: 20px 20px 19px 20px;
}

.next-page-bttn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: #4095DA;
    border-radius: 100px;
    max-width: 115px;
    max-height: 65px;
    color: #fff;
    margin: 40px auto;
}

@media screen and (min-width:320px) and (max-width: 768px) {
    .container {
        padding: 0;
    }
    .top__bttn-text {
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .top__bttn-text::before {
        margin: auto 0;
        left: 10px;
    }
    .hero__container__steps {
        justify-items: center;
        max-width: 400px;
        gap: 10px;
        margin: 40px auto;
    }
    .textarea {
        width: 100%;
        max-width: 560px;
    }
    .description-textarea {
        width: 100%;
        max-width: 560px;
        margin-left: 0;
    }
    .step-item-text {
        font-size: 12px;
    }
    .step-icon {
        width: 20px;
        height: 20px;
    }
    .step-icon__wrapper {
        width: 20px;
        height: 20px;
    }
    .number {
        width: 10px;
        height: 10px;
        top: 4px;
        left: 6px;
    }
    .language {
        display: none;
    }
    .header__buttons {
        max-width: 140px;
    }
    .profile__container {
        padding-right: 10px;
    }
    .avatar-window {
        width: 100px;
        height: 100px;
    }
    .details,
    .nickname-profile {
        font-size: 14px;
    }
    .contact {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0;
    }
    .top__bttn-text {
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .top__bttn-text::before {
        display: none;
    }
    .hero__container__steps {
        justify-items: center;
        max-width: 400px;
        gap: 10px;
        margin: 20px auto;
        flex-direction: column;
    }
    .textarea {
        width: 100%;
        max-width: 560px;
    }
    .description-textarea {
        width: 100%;
        max-width: 560px;
        margin-left: 0;
    }
    .step-item-text {
        font-size: 12px;
    }
    .step-icon {
        width: 20px;
        height: 20px;
    }
    .step-icon__wrapper {
        width: 20px;
        height: 20px;
    }
    .radio__bttns {
        gap: 25px;
    }
    .number {
        width: 10px;
        height: 10px;
        top: 4px;
        left: 6px;
    }
    .language {
        display: none;
    }
    .header__buttons {
        max-width: 140px;
    }
    .profile__container {
        padding-right: 10px;
    }
    .avatar-window {
        width: 100px;
        height: 100px;
    }
    .details,
    .nickname-profile {
        font-size: 14px;
    }
    .contact {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}