@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.top__bttn {
    width: 100%;
    background-color: #000;
}

.top__bttn-text {
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    display: block;
    max-width: 370px;
    font-weight: 400;
    line-height: 1em;
    padding: 12px 0 12px 0;
    position: relative;
}

.top__bttn-text::before {
    content: "";
    background-image: url(./imgs/🇺🇦.svg);
    background-size: 100% 100%;
    display: block;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0 auto -20px;
    position: absolute;
}

header {
    width: 100%;
    margin-top: 20px;
}

header::after {
    content: '';
    background-color: #F2F2F2;
    height: 2px;
    display: block;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    position: relative;
}

.header__buttons {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    max-height: 54px;
    max-width: 107px;
}

.language {
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    position: relative;
}

.language::before {
    content: "";
    background-image: url(./imgs/world-map.svg);
    background-size: 100% 100%;
    display: block;
    width: 16px;
    height: 16px;
    max-height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0 auto -20px;
}

.language::after {
    content: "";
    background-image: url(./imgs/vector-arrow.svg);
    background-size: 100% 100%;
    display: block;
    width: 11px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0 auto 25px;
}

.collection__button {
    width: 100%;
    max-width: 215px;
    max-height: 40px;
    border-radius: 100px;
    background-color: #4095DA;
    margin-left: 15px;
}

.collection__button:hover {
    background-color: #000;
    transition: 0.3s linear;
}

.collection__button-link {
    width: 100%;
}

.collection__button-text {
    padding: 10px 20px 10px 40px;
    text-align: center;
    color: #fff;
    position: relative;
}

.collection__button-text::before {
    content: "";
    background-image: url(./imgs/plus-icon.svg);
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0 15px 20px;
}

.notifications {
    width: 16px;
    height: 18px;
}

.notification {
    width: 16px;
    height: 18px;
    fill: #757575;
    cursor: pointer;
}

.notification:hover {
    fill: #4095DA;
}

.sing-in__button-link {
    color: #4095DA;
}

.sing-in__button-link:hover {
    color: #000;
    text-decoration: underline;
    transition: 0.5s ease;
}

.sing-in__button-text {
    font-size: 15px;
    font-weight: 400;
}

.breadcrumb {
    list-style: none;
    background-color: #fff;
    margin-top: 100px;
}


/* Display list items side by side */

.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-weight: 400;
}


/* Add a slash symbol (/) before/behind each list item */

.breadcrumb li+li:before {
    padding: 15px;
    color: #757575;
    content: ">";
}


/* Add a color to all links inside the list */

.breadcrumb li a {
    text-decoration: none;
    color: #757575;
}

.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-weight: 400;
}


/* Add a color on mouse-over */

.breadcrumb li a:hover {
    color: #4095DA;
    text-decoration: underline;
    transition: 0.3s ease;
}

footer {
    width: 100%;
}

.footer-title {
    text-align: center;
    padding: 50px 0 30px 0;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-down {
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.4s ease;
}

.arrow-down.active {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.profile__container {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__window {
    position: absolute;
    width: 100%;
    max-width: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -800px;
    opacity: 0;
    z-index: 10;
    right: 1.4%;
    transition: 0.4s linear;
    background-color: #fff;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
}

.profile__window.active {
    top: 90px;
    opacity: 100%;
}

.avatar-window {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.nickname-profile {
    margin: 20px 0 30px 0;
}

.contact {
    margin-bottom: 30px;
}

.profile-bttn {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: #EDF5FC;
    border-radius: 100px;
    color: #4095DA;
    font-size: 15px;
    font-weight: 500;
}

.details {
    margin-bottom: 20px;
}

.logout {
    margin-bottom: 30px;
    color: #4095DA;
    font-size: 15px;
    font-weight: 500;
}

.description {
    padding-bottom: 32px;
    font-size: 12px;
    font-weight: 400;
}

.container__wrapper {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.hero__container {
    margin-top: 30px;
}

.hero__container__item {
    margin-top: 40px;
}

.hero__container-title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.hero__container-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
}

.hero__container__steps {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.step-icon {
    display: block;
    fill: #F2F2F2;
    position: relative;
}

.icon-first {
    fill: #EDF5FC;
}

.step-icon__wrapper {
    width: 30px;
    height: 30px;
    position: relative;
}

.number {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: 9px;
    left: 11px;
    right: 0;
    bottom: 0;
}

.number.checked {
    left: 8px;
}

.second {
    color: #4095DA;
}

.step-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
}

.step__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.step-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
}

.done {
    color: #4095DA;
}

.first {
    color: #02020B;
}

.hero__container__address {
    margin-top: 50px;
}

.hero__container__address-title {
    font-weight: 500;
    font-size: 14px;
}

.title-red {
    color: #E43F12;
}

.capacity {
    margin-top: 15px;
    border-radius: 100px;
    border: 2px solid #F2F2F2;
    padding: 16px 0px 15px 20px;
}

.hero__container__city {
    margin-top: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.city-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
}

.zip-textarea {
    border-radius: 100px;
    border: 2px solid #F2F2F2;
    padding: 16px 0px 15px 20px;
}

.select-city {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    padding: 16px 90px 15px 15px;
    color: #757575;
}

.select-state {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    padding: 16px 90px 15px 15px;
    color: #757575;
}

.page-bttns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
    margin-bottom: 250px;
    justify-content: center;
}

.next-page-bttn {
    padding: 15px 30px;
    background: #4095DA;
    border-radius: 100px;
    max-width: 115px;
    max-height: 65px;
    color: #fff;
}

.prev-page-bttn {
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #4095DA;
}

.description {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

.working-hours__container-title {
    font-weight: 500;
    font-size: 14px;
}

.switch-description {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

.switch-bttn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 22px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 19px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.time__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    font-weight: 400;
    font-size: 14px;
    color: #02020B;
    opacity: 0.6;
    padding: 13px 24px;
    appearance: none;
}

.line {
    width: 20px;
    height: 0px;
    border-top: 1px groove #000;
}

.row {
    gap: 60px;
}

.time-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}