    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Mulish', sans-serif;
        font-family: 'PT Sans', sans-serif;
        font-family: 'Rubik', sans-serif;
    }
    
    .container {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .top__bttn {
        width: 100%;
        background-color: #000;
    }
    
    .top__bttn-text {
        margin: 0 auto;
        color: #fff;
        font-size: 16px;
        display: block;
        max-width: 370px;
        font-weight: 400;
        line-height: 1em;
        padding: 12px 0 12px 0;
        position: relative;
    }
    
    .top__bttn-text::before {
        content: "";
        background-image: url(./imgs/🇺🇦.svg);
        background-size: 100% 100%;
        display: block;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto 0 auto -20px;
        position: absolute;
    }
    
    header {
        width: 100%;
        margin-top: 20px;
    }
    
    header::after {
        content: '';
        background-color: #F2F2F2;
        height: 2px;
        display: block;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 30px;
        align-items: center;
    }
    
    .header__buttons {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .header-logo {
        max-height: 54px;
        max-width: 107px;
    }
    
    .language {
        font-size: 15px;
        font-weight: 400;
        color: #757575;
        position: relative;
    }
    
    .language::before {
        content: "";
        background-image: url(./imgs/world-map.svg);
        background-size: 100% 100%;
        display: block;
        width: 16px;
        height: 16px;
        max-height: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 auto -20px;
    }
    
    .language::after {
        content: "";
        background-image: url(./imgs/vector-arrow.svg);
        background-size: 100% 100%;
        display: block;
        width: 11px;
        height: 6px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 auto 25px;
    }
    
    .collection__button {
        width: 100%;
        max-width: 215px;
        max-height: 40px;
        border-radius: 100px;
        background-color: #4095DA;
        margin-left: 15px;
    }
    
    .collection__button:hover {
        background-color: #000;
        transition: 0.3s linear;
    }
    
    .collection__button-link {
        width: 100%;
    }
    
    .collection__button-text {
        padding: 10px 20px 10px 40px;
        text-align: center;
        color: #fff;
        position: relative;
    }
    
    .collection__button-text::before {
        content: "";
        background-image: url(./imgs/plus-icon.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 15px 20px;
    }
    
    .sing-in__button-link {
        color: #4095DA;
    }
    
    .sing-in__button-link:hover {
        color: #000;
        text-decoration: underline;
        transition: 0.5s ease;
    }
    
    .sing-in__button-text {
        font-size: 15px;
        font-weight: 400;
    }
    
    .breadcrumb {
        margin: 30px 0;
        list-style: none;
        background-color: #fff;
    }
    /* Display list items side by side */
    
    .breadcrumb li {
        display: inline;
        font-size: 14px;
        font-weight: 400;
    }
    /* Add a slash symbol (/) before/behind each list item */
    
    .breadcrumb li+li:before {
        padding: 15px;
        color: #757575;
        content: ">";
    }
    /* Add a color to all links inside the list */
    
    .breadcrumb li a {
        text-decoration: none;
        color: #757575;
    }
    
    .breadcrumb li {
        display: inline;
        font-size: 14px;
        font-weight: 400;
    }
    /* Add a color on mouse-over */
    
    .breadcrumb li a:hover {
        color: #4095DA;
        text-decoration: underline;
        transition: 0.3s ease;
    }
    
    .hero {
        margin-top: 36px;
    }
    
    .hero__title__container {
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero__title-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5em;
        color: #02020B;
        margin-right: 30px;
    }
    
    .hero__title__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1000px;
    }
    
    .hero__title__btn {
        width: 100%;
        max-width: 70px;
        border-radius: 100px;
        border: 2px solid #F5F5F5;
        transition: 0.3s ease;
    }
    
    .hero__title__btn:hover {
        background-color: #000;
    }
    
    .hero__title__btn-text {
        font-size: 14px;
        font-weight: 400;
        padding: 3px 9px 3px 3px;
    }
    
    .hero__title__btn-industrial {
        width: 100%;
        color: #757575;
    }
    
    .hero__title__btn-industrial:hover {
        color: #fff;
    }
    
    .hero__title__buttons {
        max-width: 550px;
        display: flex;
        justify-content: space-around;
    }
    
    .save {
        margin-right: 45px;
        position: relative;
    }
    
    .share {
        position: relative;
    }
    
    .save::before {
        content: "";
        background-image: url(./imgs/icon.heart.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 auto -25px;
    }
    
    .share::before {
        content: "";
        background-image: url(./imgs/icon.share.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 auto -20px;
    }
    
    .hero__subtitle {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        max-width: 400px;
    }
    
    .hero__subtitle-location {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        margin-left: 16px;
    }
    
    .hero__subtitle-location::before {
        content: "";
        background-image: url(./imgs/icon.marker.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 auto -20px;
    }
    
    .hero__subtitle-area {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        position: relative;
    }
    
    .hero__subtitle-area::before {
        content: "";
        background-image: url(./imgs/icon.area.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 auto -20px;
    }
    
    .hero__host {
        display: flex;
        justify-content: space-between;
        max-width: 220px;
        margin-top: 15px;
        align-items: center;
    }
    
    .hero__host-grey {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
    }
    
    .hero__host-black {
        color: #000;
        font-size: 18px;
        font-weight: 500;
    }
    
    .hero__imgs {
        margin-top: 20px;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero__left-img {
        width: 100%;
    }
    
    .hero__right-bottom {
        margin-top: 20px;
    }
    
    .hero__liked {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }
    
    .hero__img__button {
        width: 100%;
        max-width: 200px;
        max-height: 50px;
        border-radius: 100px;
        background-color: #FFD548;
        margin-left: 15px;
    }
    
    .hero__img__button:hover {
        background-color: #000;
        transition: 0.3s linear;
    }
    
    .hero__img__btn-text:hover {
        color: #fff;
    }
    
    .hero__img__btn {
        width: 100%;
    }
    
    .hero__img__btn-text {
        padding: 10px 20px 10px 40px;
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 15px;
        position: relative;
    }
    
    .hero__img__btn-text::before {
        content: "";
        background-image: url(./imgs/data-icon.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 15px 30px;
    }
    
    .hero::after {
        content: '';
        background-color: #F2F2F2;
        height: 2px;
        display: block;
    }
    
    .about__container {
        margin-top: 60px;
        max-width: 900px;
    }
    
    .about__container .row {
        align-items: flex-start;
    }
    
    .about__title-title,
    .hours__title-title {
        font-size: 18px;
        font-weight: 500;
    }
    
    .hours__title-title {
        margin-bottom: 20px;
    }
    
    .hours__title {
        max-width: 500px;
        width: 100%;
    }
    
    .hours__title-table {
        display: flex;
        justify-content: space-between;
    }
    
    .about__title {
        max-width: 570px;
    }
    
    .about__title p {
        display: inline-block;
        max-width: 570px;
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
    }
    
    .work-day {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        margin-right: 20px;
    }
    
    .hours-link {
        width: 100%;
        color: #4095DA;
    }
    
    .hours-link p {
        margin-top: 22px;
    }
    
    .list__things {
        width: 100%;
        margin-top: 60px;
    }
    
    .list__things__container {
        width: 100%;
        max-width: 1140px;
    }
    
    .list__things-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.125em;
    }
    
    .list__things__priority {
        margin-top: 30px;
    }
    
    .priority-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1em;
        color: #02020B;
        margin-bottom: 22px;
    }
    
    .list__things__priority .column {
        gap: 23px;
        align-items: flex-start;
        width: 33%;
    }
    
    .list__things__priority .row {
        align-items: flex-start;
    }
    
    .priority-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .priority-item-text {
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        margin-left: 16px;
    }
    
    .antiseptics {
        margin-left: 23px;
    }
    
    .hemostatic-gauzes {
        margin-left: 15px;
    }
    
    .third,
    .second {
        margin-left: 70px;
    }
    
    .millitary-title {
        margin-top: 32px;
        margin-bottom: 22px;
    }
    
    .millitary-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .millitary-third,
    .millitary-second {
        margin-left: 70px;
    }
    
    .millitary-item-text {
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        margin-left: 16px;
    }
    
    .humanitarian-title {
        margin-top: 32px;
        margin-bottom: 22px;
    }
    
    .humanitarian-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .humanitarian-item-text {
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        margin-left: 16px;
    }
    
    .humanitarian__container .column {
        width: 33%;
    }
    
    .reviews {
        margin-top: 60px;
    }
    
    .reviews__container {
        max-width: 560px;
    }
    
    .reviews-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .rating-area {
        overflow: hidden;
        width: 100%;
        max-width: 250px;
        margin-left: -41px;
    }
    
    .rating-area:not(:checked)>input {
        display: none;
    }
    
    .rating-area:not(:checked)>label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }
    
    .rating-area:not(:checked)>label:before {
        content: '★';
    }
    
    .rating-area>input:checked~label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }
    
    .rating-area:not(:checked)>label:hover,
    .rating-area:not(:checked)>label:hover~label {
        color: gold;
    }
    
    .rating-area>input:checked+label:hover,
    .rating-area>input:checked+label:hover~label,
    .rating-area>input:checked~label:hover,
    .rating-area>input:checked~label:hover~label,
    .rating-area>label:hover~input:checked~label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }
    
    .rate-area>label:active {
        position: relative;
    }
    
    .reviews__area {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .avg-result {
        font-size: 16px;
        font-weight: 500;
    }
    
    .reviews__counter span {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
    }
    
    .reviews__comments {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .reviews__comments-comment {
        display: flex;
        justify-content: space-between;
        max-width: 560px;
        align-items: center;
    }
    
    .user__info {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .reviews__comments-comment span {
        color: #757575;
        margin-left: 10px;
    }
    
    .username {
        font-size: 16px;
        font-weight: 500;
        margin-left: 10px;
    }
    
    .posted-time {
        color: #757575;
        margin-left: auto;
    }
    
    .user-text {
        margin-top: 10px;
        color: #757575;
        max-width: 560px;
    }
    
    .reviews__comments__item {
        margin-top: 20px;
    }
    
    i {
        border: solid #757575;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-left: 15px;
    }
    
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-right: 15px;
    }
    
    .pages__swiper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 150px;
        margin: 30px auto;
    }
    
    .pages__counter span {
        font-size: 16px;
        font-weight: 400;
    }
    
    .comment-title {
        font-size: 18px;
        font-weight: 500;
    }
    
    .comment-field {
        width: 100%;
        border: 1px #F2F2F2 solid;
    }
    
    .send-bttn {
        width: 100%;
        background-color: #EDF5FC;
        border: none;
        border-radius: 100px;
        color: #4095DA;
        margin-top: 20px;
        height: 50px;
    }
    
    .map__container-title {
        margin-top: 60px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .message__to-singin {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #EDF5FC;
        border-radius: 10px;
    }
    
    .warning-icon {
        margin-left: 20px;
    }
    
    .message-text {
        margin-left: 20px;
    }
    
    .sing-in {
        color: #4095DA;
        text-decoration: underline;
    }
    
    .date__container {
        margin-top: 20px;
    }
    
    .date__container-title {
        font-size: 18px;
        font-weight: 500;
    }
    
    .date__container-text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        color: #757575;
        max-width: 660px;
    }
    
    .date__calendar {
        margin-top: 30px;
        width: 100%;
        max-width: 1140px;
    }
    
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    
    .date__calendar__btn {
        max-width: 190px;
        margin-right: 30px;
        background-color: #F2F2F2;
        border-radius: 100px;
        transition: 0.4s linear;
    }
    
    .date__calendar__btn:hover {
        background-color: #000;
    }
    
    .date__calendar__btn-text:hover {
        color: #fff;
        padding: 18px 40px 18px 45px;
    }
    
    .date__calendar__btn-text {
        padding: 18px 30px 18px 55px;
        position: relative;
    }
    
    .date__calendar__btn-text::before {
        content: "";
        background-image: url(./imgs/data-icon.svg);
        background-size: 100% 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto 0 23px 30px;
    }
    
    .date__calendar-month {
        display: flex;
        max-width: 600px;
        align-items: center;
        margin: 0 0 0 500px;
    }
    
    .top__date__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
        margin-bottom: 40px;
    }
    
    select {
        border: 0;
        background: transparent;
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        font-size: 20px;
        color: black;
        text-align: center;
    }
    
    .day__bar {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .day__bar-text {
        width: 14.3%;
        text-align: center;
        color: #757575;
    }
    
    .grid_item {
        width: 100%;
        height: 91px;
        background-color: #EDF5FC;
    }
    
    .date__container__grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 0.6px;
        grid-column-gap: 0.6px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    footer {
        width: 100%;
    }
    
    .footer-title {
        text-align: center;
        padding: 50px 0 30px 0;
        color: #757575;
        font-size: 14px;
        font-weight: 400;
    }